 body {
margin: 0;
font-family: "Segoe UI", Arial;
background: #595b63;
}


.nav-box {
display: flex;
justify-content: space-around;
align-items: center;
padding: 16px 28px;
background: linear-gradient(90deg, #5a4bff, #806bff);
color: #fff;
}


.logo {
display: flex;
align-items: center;
gap: 8px;
}




.vite-img {
width: 36px;
height: 36px;
}


.menu a {
margin-left: 24px;
text-decoration: none;
font-size: 15px;
color: #e7e7ff;
transition: 0.2s ease;
}


.menu a:hover {
color: #ffffff;
text-shadow: 0 0 5px rgba(255,255,255,0.6);
}


.menu .active {
color: #ffffff;
font-weight: 600;
}


.brand-strip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  opacity: 0.75;
  position: relative;
  top: 250px;
  right: 500px;
  bottom: 400px;
}

.brand-strip img {
  width: 110px;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.brand-strip img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

