 .hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 60px;
  max-width: 1200px;
  margin: auto;
  gap: 60px;
  position: relative;
  top: 50px;
  left: 90px;
}

.hero-left {
  flex: 1;
}

.tag {
  background: #ffe9f0;
  padding: 6px 14px;
  border-radius: 6px;
  width: fit-content;
  color: #d63a69;
  font-size: 14px;
  margin-bottom: 14px;
}
.title {
  font-size: 55px;
  font-weight: 700;
  margin: 10px 0;
  color: #222;
}

.highlight {
  color: #ff467e;
}

.sub {
  font-size: 18px;
  color: #555;
  line-height: 30px;
  margin-top: 8px;
}

.red {
  color: #ff467e;
  font-weight: 600;
}

.hire-btn {
  background: #ff467e;
  padding: 12px 30px;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-left:120px;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.photo-box {
  background: #fff;
  padding: 18px;
  border-radius: 20px;
  border: 2px solid #ffe1ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 330px;
  border-radius: 16px;
}

 