*{
    margin: 0%;
    padding: 0%;
}

main{
    width: 80%;
    margin:50px auto;
    border: 1px solid black;
    color: aliceblue;
    display: grid;
    
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns:min-content repeat(2,1fr);
    grid-template-columns:max-content repeat(2,1fr); */
    grid-template-rows: repeat(2,150px) ;
    /* grid-template-columns:minmax(150px, 200px) repeat(2, 1fr); */
    /* grid-template-columns:repeat(3,minmax(150px , 250px)); */
    /* grid-template-columns:repeat(auto-fill,minmax(150px , 250px)); */
    grid-template-columns:repeat(auto-fill,minmax(150px , 1fr));
    /* grid-template-rows: 100px 100px ; */
    /* grid-row-gap:20px;
    grid-column-gap:20px; */
    grid-gap:20px;
     grid-auto-rows: 100px;
    text-align: center;
    /* place-items: center; */
     /* justify-content: center; */
    
     
     /* align-items: start; */
     /* justify-content: ; */
     /* justify-items: center; */
}
.div1{
    background-color: red;
}
.div2{
    background-color: blue;
    /* grid-column-start: 1;
    grid-column-end: 4;
     */
     /* grid-column: 1/-1; */
}
.div3{
    background-color:purple;
}
.div4{
    background-color: green;
}
.div5{
    background-color: pink;
    /* grid-row-end:1 ;
    grid-row-start:2;
grid-column-start: 2;
grid-column-end: 4; */
/* grid-row: 1/2; */
/* grid-column: 2/4; */

}
.div6{
    background-color: yellowgreen;
}